[submodule "byteman-workshop"]
	path = byteman-workshop
	url = git@github.com:ochaloup/byteman-workshop.git
[submodule "argbash-demo"]
	path = argbash-demo
	url = git@github.com:matejak/argbash-demo.git
